.head{
    text-align: center;
    color: white;
    background-color: #000000;
    margin: 0 0 6px 0;
    position: sticky;
    top: 0px;
    height: 8%;
    display: flex;
}
a {
    color:white;
}
body{
    margin: 0;
    padding:0;
}
.size{
    font-size: 60px;
}
.intro{
    color: aliceblue;
    font-style: italic;
}
.author{
    margin-right:-12px;
    margin-left:-12px;
    padding: 30px;
    text-align:center;
    background-color:#1abc9c;
    font-size: 70px;
    color:white;
}
.links{

    margin-left: 700px;
    font-family: Helvetica;
    text-align:center;
}
.links a{
    float: right;
    /* border: #000000;
    color: #000000; */
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: darkblue;
}
img{
    display: flex;
    height:80px;
}